.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    mix-blend-mode: darken;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(244, 239, 239);
}
button{
    font-size:24px;
    border-radius:70px;
    padding:30px;
    width:250px;
    margin:10px 0;
    color:white;
    border:0;
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif;
}
.signup{
    background-color: rgb(219, 47, 75);
    
}

.signin{
    background-color: rgb(19, 147, 136);
}

h1{
    font-family:sans-serif;
    text-align: center;
    width: 50%;
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover{
    opacity: 0.8;
}